* {
  margin: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -40px;
  display: grid;
  grid-template-rows: 80px 1fr;
  background-color: #f0eef1;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px, 1px, 4px;
  padding: 40px;
}

.logo {
  font-size: 8vh;
}

.mainWindow {
  background-color: #f0eef1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.display {
  font-size: 5vh;
}

.gameBoard {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  gap: 5px;
  background-color: black;
}

.block {
  background-color: white;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  padding-top: 10px;
}

.reset {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
